.intro {
    display: flex;
    align-items: center;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap);
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

#top3 .top3-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    max-width: 64rem;
    text-align: center;   
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}


/* ==================== Work Top 3======================== */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    counter-reset: grid-counter;
    min-width: 6rem;
}

.title2-grid {
    margin-bottom: 0; 
    margin-top: var(--gap);   
}

.description-3jobs {
    padding-bottom: var(--gap);
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding: 4rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7.5rem;
    font-style: italic;
    top: 1rem;
    left: -2rem;
    rotate: 9deg;   
}

/* ====================Gallery======================== */
.gallery-img {   
    max-width: 36rem;
    max-height: 36rem;
    transition: 4s;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    width: 100%;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.1) ;
   
}

/* ====================Contact US======================== */
.contact-content {
    width: 100%;
}
.contact-us-form fieldset {
    border: none;      
}

legend {
    font-style: italic;
}

#contact-us .inputs-div {
    display: grid;
    grid-template-areas:
     'first last'              
     'email email'
     'message message'
    ;
    gap: var(--gap);

    margin-top: var(--gap);
}

#first-div {
    grid-area: first;
}

#last-div {
    grid-area: last;
}

#email-div {
    grid-area: email;
}

#message-div {
    grid-area: message;    
}

input,
textarea{
    padding: 1.5rem 2rem;
    width: 100%; 
    font-size: var(--gap);  
    color: var(--primary-color);    
}

textarea {
    min-height: 10.14rem;
}

.form-label {     
    display: block;
}

.top3-content {
    min-width: 100%;
}

#contact-us button {
    padding: 1.8rem 3.5rem;
    font-size: var(--gap); 
    margin-top: var(--gap); 
   
    cursor: pointer;
    border: 0.6rem solid var(--white-bg);

    background-color: var(--primary-color);
    color: var(--white-bg);
    max-width: 29rem;
    
    transition: ease-in-out 0.4s;    
}

#contact-us button:hover {
    color: var(--primary-color);
    background-color: var(--white-bg);
}

/* ==================== Responsive ======================== */
@media (max-width: 980px) {
    #gallery .grid {
     grid-template-columns: repeat(2, 1fr);
        
    }

    #gallery .grid .gallery-img {        
        min-width: 100%;        
    }   
    
    .form-group {
        min-width: 100%;
    }
}

@media (max-width: 800px) {
    .intro-content{
        grid-template-columns: 1fr;
    }

    #contact-us .inputs-div {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
   
    legend {
        display: flex;
        text-align: left;
    }

    .top3-grid {
        display: flex;
        flex-flow: wrap;
    }

    #gallery .grid {
        grid-template-columns:  1fr;
        justify-items: center;      
    }
    
    #gallery .grid .gallery-img {
        width: 100%;        
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     /*==================== Menu Responsive ======================== */
    #close-menu {
        display: none;
    }
        
    #menu {
        display: none;
    }
    
    #menu #main-menu, 
    #main-menu ul {        
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: var(--gap);
    }
 
    .close-menu {
        position: fixed;
        z-index: 2000;
        top: 0;       
    }

   .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2000;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-bg);
        padding: 0.4rem 0.8rem;
        cursor: pointer;    
   }

   #close-menu:checked~#menu {
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 100vh;   
   }

   #close-menu:checked~.close-menu-label::after {
        content: 'x';
        font-size: 2.2rem;
        padding: 0.1rem 1rem;
   }
}

 


